.Login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    width: 450px;
    padding: 45px;
    box-shadow: 0px 0px 21px rgb(0 0 0/20%);
    background: #fff;
}

h1.title {
    color: cyan;
    font-size: 100px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
    color: white;
    background: cyan;
    width: 80%;
}

.f1 {
    margin-bottom: 10px;
}

.MuiFormControl-root.MuiTextField-root.input.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {width: 80%;}

.errors-feedback{
    color: red;
}

